<p id="notice"><%= notice %></p>
<% provide(:title, @post.title) %>


<p>
  <% if @post.has_photo? %>
    <div id="showImage" class="thumbnail">
      <h1>
        <small>Title:</small>
        <%= @post.title %>
      </h1>
      <hr />
      <%= image_tag @post.photo_path, :id => 'imageShow' %>
      <%= link_to 'Anterior', @ant, :class => 'btn' %>

      <%= link_to 'Siguiente', @next, :class => 'btn', :id => 'btnSig' %>

      <hr />
      <% if current_user == @post.user %>
          <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>


    </div>
  <% else %>
    <b>Problema al cargar la foto</b>
  <% end %>
</p>
