<p id="notice"><%= notice %></p>
<% provide(:title, @post.title) %>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <% if @post.has_photo? %>
    <div id="showImage" class="thumbnail">
      <%= link_to 'Anterior', @ant, :class => 'btn' %><%= link_to 'Siguiente', @next, :class => 'btn', :id => 'btnSig' %>
      <%= image_tag @post.photo_path %>
    </div>
  <% else %>
    <b>Problema al cargar la foto</b>
  <% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
